attrs
Django==4.0.2
django-extensions
djangorestframework==3.11.0
Faker
importlib-metadata
more-itertools
packaging
pluggy
psycopg2-binary
py
pyparsing
pytest
pytest-django
python-dateutil
pytz
six
text-unidecode
wcwidth
zipp
